@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// mixin
html{
    body{
        font-family: 'Roboto' , serif;
    }    
}

@mixin bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin grid($div) {
    @if ($div=='desktop') {
        width: 90%;
        max-width: 1280px;
        margin: 0 auto;
    }
    @else if ($div == 'tablet') {
        width: 90%;
        max-width: 1024px;
        margin: 0 auto;
    }
    @else if ($div == 'mobile') {
        width: 90%;
        max-width: 750px;
        margin: 0 auto;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }    
}

@mixin mobile {
    @media (max-width: 750px) {
        @content;
    }
}

@mixin min-mobile {
    @media (max-width: 440px) {
        @content;
    }
}

@mixin px850 {
    @media (max-width: 850px) {
        @content;
    }
}




// header
.header-wrap{
    max-width: 1920px;
    height: 7.5em;
    header{
        width: 90%;
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        color: #fff;
        line-height: 2.5rem;
        font-family: 'Roboto' , serif;
        z-index: 97;
        font-weight: 700;
        position: relative;
        @include tablet {
            @include grid('tablet');
        }
        @include mobile {
            @include grid('mobile');
        }
        h1{
            font-size: 2.5rem;
            cursor: pointer;
            margin-top: 2.5rem;
        }
        .nav{
            width: 520px;
            display: flex;
            justify-content: space-between;
            margin-top: 2.5rem;
            @include tablet {
                display: none;
            }
            li{
                cursor: pointer;
                font-size: 1.125rem;
                height: 40px;
            }
        }
        .icons{
            display: flex;
            justify-content: space-between;
            width: 140px;
            font-size: 1.125rem;
            margin-top: 2.5rem;
            li{
                cursor: pointer;
            }
            .search{}
            .modal-bar{
                margin-top: 0.875rem;
                .bar-before{
                    background-color: #fff;
                    width: 9px;
                    height: 2px;
                }
                .bar{
                    margin-top: 4px;
                    background-color: #fff;
                    width: 18px;
                    height: 2px;
                }
                .bar-after{
                    margin-top: 4px;
                    background-color: #fff;
                    width: 9px;
                    height: 2px;
                    margin-left: 9px;
                }
            }
        }
    }
}

// main
.main-wrap{
    main{
        .slide-wrap{
            margin-top: -120px;
            position: relative;
            height: 100vh;
            overflow: hidden;
            @include mobile {
                height: 33.125em;
            }
            .slide-group{
                z-index: 10;
                article{
                    position: absolute;
                    top: 0;
                    left: 0;       
                    transition: all .5s;             
                    .image{
                        @include bg();
                        width: 100vw;
                        height: 100vh;
                        position: relative;
                        @for $i from 1 through 7{
                            &.i#{$i}{
                                background-image: url('./images/main/main-pic#{$i}.jpg');
                            }
                        }
                        @include mobile {
                            height: 33.125em;
                        }
                        .texts{
                            position: absolute;
                            top: 60%;
                            left: 16.6666%;
                            transform: translate(0 , -60%);
                            color: #fff;
                            font-family: 'Noto Sans KR' , serif;
                            font-weight: 700;
                            @include mobile {
                                left: 10%;
                            }
                            h3{
                                font-size: 2.5rem;
                                @include mobile {
                                    font-size: 1.75rem;
                                }
                            }
                            h5{
                                font-size: 1.125rem;
                                line-height: 2.5rem;
                                font-weight: 500;
                                @include mobile {
                                    font-size: 0.875rem;
                                    line-height: 1.25em;
                                }
                                &:nth-child(2){
                                    @include mobile {
                                        margin-top: 1.5em;
                                    }
                                }
                            }
                        }
                    }
                }
                :nth-child(1){
                    z-index: 96;
                }
                :nth-child(1)~article{
                    z-index: 90;
                    opacity: 0;
                }
            }
            .index-number{
                position: absolute;
                top: 80%;
                transform: translate(0, -80%);
                right: 16.6666%;
                color: #fff;
                font-weight: 700;
                color: #c6c6c6;
                z-index: 97;
                @include mobile {
                    right: 10%;
                }
                .now{
                    font-size: 2.5rem;
                    color: #fff;
                    @include mobile {
                        font-size: 1.75rem;
                    }
                }
                .total-amount{
                    font-size: 1.25rem;
                    margin-left: 5px;
                    @include mobile {
                        font-size: 0.875rem;
                    }
                }
            }
            .slide-info-bar{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 35%;
                background-color: rgba(255,255,255,.15);
                font-size: 0.8rem;
                font-weight: 700;
                font-family: 'Noto Sans KR' , serif;
                z-index: 97;
                transition: all .8s;
                h3{
                    font-size: 0.875rem;
                    text-align: right; 
                    padding: 10px 10% 0 0;
                    span{
                        color: #fff;
                    }
                }
                .slide-button{
                    display: flex;
                    justify-content: end;
                    width: 100%;
                    padding: 10px 10% 30px 0;
                    i{
                        font-size: 1.3125rem;
                        color: #2b2b2b;
                        cursor: pointer;
                    }
                    i:nth-child(1){
                        margin-right: 2.8125em;
                    }
                }
            }
        }
    }
}

// banner
.banner-wrap{
    width: 100%;
    max-width: 1980px;
    margin: 0 auto;
    @include mobile {
        max-width: 750px;
    }
    .banner-1{
        padding-top: 5rem;
        display: flex;
        justify-content: space-between;
        @include mobile {
            display: block;    
            padding-top: 0;        
        }
        article{
            width: calc(100% / 3 - 10px);
            position: relative;
            overflow: hidden;
            transition: all 1s;
            cursor: pointer;
            @include mobile {
                width: 100%;
                margin-top: 0.9375rem;
                height: 25rem;
            }
            .image{
                width: 100%;
                height: 30rem;
                z-index: 15;
                transition: opacity .2s;
                @for $i from 1 through 3{
                    &.i#{$i}{
                        background-image: url('./images/banner-1/pic-#{$i}.jpg');
                        @include bg();
                    }
                }
                @include mobile {
                    height: 25rem;
                }
            }
            video{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                height: 800px;
                width: auto;
                overflow: hidden;
                z-index: 14;
                opacity: 0;
                display: none;
                transition: z-index 1.5s;
                @include mobile {
                    height: 600px;
                }
            }

            .texts{
                position: absolute;
                left: 1em;
                bottom: 3.125em;
                z-index: 20;
                font-family: 'Noto Sans KR' , serif;
                font-weight: 700;
                color: #fff;
                h3{
                    font-size: 1.25rem;
                }
                h5{
                    font-size: 0.875rem;
                    margin-top: 0.4375rem;
                }
            }
        }
    }
}

// content
.content-wrap{
    .content-1{
        margin-top: 10rem;
        @include mobile {
            margin-top: 7.5rem;
        }
        header{
            width: 100%;
            text-align: right;
            h2{
                font-size: 4.375rem;
                font-weight: 700;
                margin-right: 1.1428em;
                @include mobile {
                    font-size: 3.125rem;
                    margin-right: 0;
                }
            }
        }
        section{
            margin-top: 5rem;
            display: flex;
            justify-content: space-between;
            @include mobile {
                margin-top: 4.0625rem;
            }
            @include min-mobile {
                display: block;
            }
            .article-left{
                width: 51.5625%;
                margin-left: 8.2031%;
                @include mobile {
                    width: 58.4615%;
                    margin-left: 0;
                }
                @include min-mobile {
                    width: 100%;
                }
                .image{
                    width: 100%;
                    height: 51.25rem;
                    background-image: url('./images/content-1/pic-1.jpg');
                    @include bg();
                    @include mobile {
                        height: 29.375rem;
                    }
                }
            }
            .article-right{
                width: 32.8125%;
                @include mobile {
                    width: 38.4615%;
                }
                @include min-mobile {
                    width: 100%;
                    margin-top: 0.875rem;
                }
                .image{
                    width: 100%;
                    height: 32.5rem;
                    background-image: url('./images/content-1/pic-2.jpg');
                    @include bg();
                    @include mobile {
                        height: 20rem;
                    }
                }
                .texts{
                    margin-top: 1.25em;
                    font-family: 'Noto Sans KR' , serif;
                    h3{
                        font-size: 1.125rem;
                        font-weight: 700;
                        color: #1a1a1a;
                    }
                    p{
                        font-size: 0.9375rem;
                        color: #777777;
                        font-weight: 500;
                    }
                }
                .btn{
                    width: 100%;
                    font-family: 'Roboto' , serif;
                    font-size: 0.875rem;
                    text-align: right;
                    cursor: pointer;
                    i{
                        font-size: 1.25em;
                    }
                }
            }
        }
    }
    .content-2{
        margin-top: 18.125rem;
        @include mobile {
            margin-top: 5rem;
        }
        header{
            position: relative;
            left: -3.75em;
            top: 23em;
            height: 0;
            @include mobile {
                left: -2.125em;
            }
            @include min-mobile {
                position: unset;
                top: 0;
                left: 0;
                height: auto;
            }
            h2{
                transform: rotate(270deg);
                transform-origin: left top;
                font-weight: 700;
                font-size: 2.5rem;
                @include mobile {
                    font-size: 2rem;
                }
                @include min-mobile {
                    transform: none;
                }
            }
        }
        section{
            h5{
                font-family: 'Noto Sans KR' , serif;
                font-size: 1.125rem;
                font-weight: 700;
                color: #333333;
                @include min-mobile {
                    font-size: 1rem;
                }
            }
            .slide-wrap{
                margin-top: 2.5rem;
                overflow: hidden;
                @include mobile {
                    margin-top: 1.375rem;
                }
                .slide-group{
                    display: flex;
                    justify-content: space-between;
                    width: 300%;
                    transition: all .3s;
                    @include mobile {
                        width: 600%;
                    }
                    .item-page{
                        width: calc(100% / 3);
                        display: flex;
                        justify-content: space-around;
                        article{
                            width: calc(100% / 4 - 5px);
                            cursor: pointer;
                            .image-wrap{
                                height: 17.5rem;
                                overflow: hidden;
                                position: relative;
                                .image{
                                    height: 17.5rem;
                                    overflow: hidden;
                                    transition: all .5s;
                                    @for $i from 1 through 12{
                                        &.i#{$i}{
                                            background-image: url('./images/content-2/pic-#{$i}.jpg');
                                        }
                                        @include bg();
                                    }
                                    &:hover{
                                        transform: scale(1.05);
                                    }
                                }
                                .discount-rate{
                                    position: absolute;
                                    bottom: 0.3125em;
                                    left: 0.3125em;
                                    font-size: 0.9375rem;
                                    padding: 0.3125em;
                                    background-color: #fff;
                                    color: #333;
                                    font-weight: 400;
                                    font-family: 'Noto Sans KR' , serif;
                                    box-shadow: 1px 1px 3px #ccc;
                                    border-radius: 3px;
                                    font-weight: 500;
                                }
                                &:hover .icons{
                                    bottom: 0.3125em;
                                    opacity: 1;
                                }
                                .icons{
                                    position: absolute;
                                    right: 0.3125em;
                                    bottom: -1.875em;
                                    opacity: 0;
                                    transition: all .5s;
                                    i{
                                        font-size: 0.9375rem;
                                        padding: 0.3125em;
                                        background-color: #fff;
                                        border: 1px solid #ccc;
                                        cursor: pointer;
                                        color: #333;
                                        opacity: 0.6;
                                        transition: color .3s;
                                    }
                                    .like{
                                        opacity: 0.8;
                                        color: red;
                                    }
                                    .wish{
                                        opacity: 0.8;
                                        color: #000;
                                    }
                                }
                            }
                            .texts{
                                margin-top: 1.75rem;
                                font-family: 'Noto Sans KR' , serif;
                                color: #333;
                                h3{
                                    font-size: 0.875rem;
                                    font-weight: 700;
                                }
                                h5{
                                    color: #cccccc;
                                    font-size: 0.75rem;
                                    padding-top: 0.375em;
                                    text-decoration: line-through;
                                }
                                h4{
                                    font-weight: 700;
                                    padding-top: 0.375em;
                                }
                            }
                        }
                    }
                }
            }
            .paging{
                width: 3.75em;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                margin-top: 2.5em;
                @include mobile {
                    width: 8.125em;
                }
                li{
                    width: 0.5625em;
                    height: 0.5625em;
                    background-color: #999999;
                    border-radius: 0.1875em;
                    cursor: pointer;
                    @include mobile {
                        display: block;
                    }
                    &:nth-child(3)~li{
                        display: none;
                        @include mobile {
                            display: block;
                        }
                    }
                }
                .now{
                    width: 1.125em;
                    background-color: #333;
                }
            }
            .more-btn{
                width: 10em;
                font-size: 0.875rem;
                padding: 1em;
                border-radius: 1.375em;
                color: #333;
                border: 1px solid #333;
                background-color: #fff;
                font-family: 'Noto Sans KR' , serif;
                margin: 0 auto;
                margin-top: 3.125rem;
                text-align: center;
                cursor: pointer;
            }
        }
    }
    .content-3{
        margin-top: 11.125rem;
        @include mobile {
            margin-top: 4.125rem;
        }
        header{
            position: relative;
            left: -3.75em;
            top: 23em;
            height: 0;
            @include mobile {
                left: -2.125em;
            }
            @include min-mobile {
                position: unset;
                left: 0;
                top: 0;
                height: auto;
            }
            h2{
                transform: rotate(270deg);
                transform-origin: left top;
                font-weight: 700;
                font-size: 2.5rem;
                @include mobile {
                    font-size: 2rem;
                }
                @include min-mobile {
                    transform: none;
                }
            }
        }
        section{
            h5{
                font-family: 'Noto Sans KR' , serif;
                font-size: 1.125rem;
                font-weight: 700;
                color: #333333;
                @include min-mobile {
                    font-size: 1rem;
                }
            }
            .slide-wrap{
                margin-top: 2.5em;
                overflow: hidden;
                .slide-group{
                    display: flex;
                    justify-content: space-between;
                    width: 300%;
                    transition: all .3s;
                    @include mobile {
                        width: 600%;
                    }
                    .item-page{
                        width: calc(100% / 3);
                        display: flex;
                        justify-content: space-around;
                        article{
                            width: calc(100% / 4 - 5px);
                            cursor: pointer;
                            .image-wrap{
                                height: 17.5rem;
                                overflow: hidden;
                                position: relative;
                                .image{
                                    height: 17.5rem;
                                    overflow: hidden;
                                    transition: all .5s;
                                    @for $i from 1 through 12{
                                        &.i#{$i}{
                                            background-image: url('./images/content-2/pic-#{$i}.jpg');
                                        }
                                        @include bg();
                                    }
                                    &:hover{
                                        transform: scale(1.05);
                                    }
                                }
                                .discount-rate{
                                    position: absolute;
                                    bottom: 0.3125em;
                                    left: 0.3125em;
                                    font-size: 0.9375rem;
                                    padding: 0.3125em;
                                    background-color: #fff;
                                    color: #333;
                                    font-weight: 400;
                                    font-family: 'Noto Sans KR' , serif;
                                    box-shadow: 1px 1px 3px #ccc;
                                    border-radius: 3px;
                                    font-weight: 500;
                                }
                                &:hover .icons{
                                    bottom: 0.3125em;
                                    opacity: 1;
                                }
                                .icons{
                                    position: absolute;
                                    right: 0.3125em;
                                    bottom: -1.875em;
                                    opacity: 0;
                                    transition: all .5s;
                                    i{
                                        font-size: 0.9375rem;
                                        padding: 0.3125em;
                                        background-color: #fff;
                                        border: 1px solid #ccc;
                                        cursor: pointer;
                                        color: #333;
                                        opacity: 0.6;
                                        transition: color .3s;
                                    }
                                    .like{
                                        opacity: 0.8;
                                        color: red;
                                    }
                                    .wish{
                                        opacity: 0.8;
                                        color: #000;
                                    }
                                }
                            }
                            .texts{
                                margin-top: 1.75rem;
                                font-family: 'Noto Sans KR' , serif;
                                color: #333;
                                h3{
                                    font-size: 0.875rem;
                                    font-weight: 700;
                                }
                                h5{
                                    color: #cccccc;
                                    font-size: 0.75rem;
                                    padding-top: 0.375em;
                                    text-decoration: line-through;
                                }
                                h4{
                                    font-weight: 700;
                                    padding-top: 0.375em;
                                }
                            }
                        }
                    }
                }
            }
            .paging{
                width: 3.75em;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                margin-top: 2.5em;
                @include mobile {
                    width: 8.125em;
                }
                li{
                    width: 0.5625em;
                    height: 0.5625em;
                    background-color: #999999;
                    border-radius: 0.1875em;
                    cursor: pointer;
                    &:nth-child(3)~li{
                        display: none;
                        @include mobile {
                            display: block;
                        }
                    }
                }
                .now{
                    width: 1.125em;
                    background-color: #333;
                }
            }
            .more-btn{
                width: 10em;
                font-size: 0.875rem;
                padding: 1em;
                border-radius: 1.375em;
                color: #333;
                border: 1px solid #333;
                background-color: #fff;
                font-family: 'Noto Sans KR' , serif;
                margin: 0 auto;
                margin-top: 3.125rem;
                text-align: center;
                cursor: pointer;
            }
        }
    }
    .content-4{
        margin-top: 16.75rem;
        padding-bottom: 7.5rem;
        @include mobile {
            margin-top: 9.4375rem;
        }
        header{
            position: relative;
            left: -3.75em;
            top: 8em;
            height: 0;
            @include mobile {
                left: -2.125em;
            }
            @include min-mobile {
                position: unset;  
                height: auto;              
            }
            h2{
                transform: rotate(270deg);
                transform-origin: left top;
                font-weight: 700;
                font-size: 2.5rem;
                @include mobile {
                    font-size: 2rem;
                }
                @include min-mobile {
                    transform: none;
                }
            }
        }
        section{
            display: flex;
            justify-content: space-between;
            font-family: 'Noto Sans KR' , serif;
            @include mobile {
                display: block;
            }
            h3{
                font-size: 1.125rem;
                font-weight: 700;
                margin-left: 5.4687%;
                @include min-mobile {
                    margin-left: 0;
                    font-size: 1rem ;
                }
            }
            .article-wrap{
                display: block;
                width: 53.25%;
                @include mobile {
                    width: 100%;
                    margin-top: 5rem;
                }
                article{
                    display: flex;
                    justify-content: start;
                    height: 12.5em;
                    .image{
                        width: 200px;
                        height: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        @for $i from 1 through 3{
                            &.i#{$i}{
                                background-image: url('./images/content-4/pic-#{$i}.jpg');
                            }
                        }
                    }
                    .texts{
                        width: 52.7777%;
                        margin-left: 9.7222%;
                        font-family: 'Noto Sans KR' , serif;
                        color: #333;
                        h5{
                            font-size: 0.875rem;
                        }
                        h4{
                            font-size: 1.125rem;
                            margin-top: 1.8125rem;
                            font-weight: 500;
                        }
                    }
                    &:nth-child(1)~article{
                        margin-top: 1.875em;
                    }
                }
                .more-btn{
                    text-align: center;
                    cursor: pointer;
                    font-size: 0.875rem;
                    line-height: 1.875em;
                    border: 1px solid #333;
                    margin-top: 3.75rem;
                    background-color: #fff;
                }
            }
        }
    }
}

.item-wrap{
    height: auto;
    position: relative;
    @include grid('desktop');
    &::before{
        content: '';
        display: block;
        width: 33%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -999;
        height: 100%;
        outline: 1px solid #e0e0e0;
    }
    &::after{
        content: '';
        display: block;
        width: 33%;
        position: absolute;
        top: 0;
        right: 0; 
        z-index: -999;
        height: 100%;
        outline: 1px solid #e0e0e0;      
    }
}

// 모달창

.modal-box-wrap{
    width: 800px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -800px;
    overflow-y: scroll;
    z-index: 99;
    transition: all .5s;
    outline: 1px solid #ccc;
    @include px850 {
        width: 100%;
    }
    .modal-box{
        position: relative;
        padding: 2.5em 3.75em;
        font-family: 'Noto Sans KR';
        .title{
            font-size: 3.125rem;
            font-weight: 700;
            color: #333;
        }
        a{
            font-size: 1.25rem;
            color: #fff;
            font-weight: 700;
            padding-right: 2.5rem;
            color: #333;
            background: url('./images/closeBtn.png') right 0 center no-repeat;
            background-size: 30px;        
            display: block;
            position: absolute;
            right: 60px;
            top: 50px;
        }
        .subtitle{
            font-size: 2.25rem;
            color: #333;
            font-weight: 700;
            margin-top: 50px;
            position: relative;
            font-family: 'Roboto' , serif;
            line-height: 40px;
            cursor: pointer;
            &::after{
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0,-50%);
                background-color: #333;
                width: 350px;
                height: 5px;
                @include tablet {
                    width: 30%;
                }
            }
        }
        .con-box{
            margin-top: 20px;
            cursor: pointer;
            .list-title{
                font-size: 1.375rem;
                color: #333;
                font-family: 'Roboto' , serif;
                span{
                    font-size: 1.75rem;
                    font-weight: 900;
                    margin-right: 8px;
                }
            }
            .img-box{
                margin-top: 20px;
                img{
                    vertical-align: middle;
                    width: 100%;
                    height: 300px;
                }
            }
        }
        .user-info{
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            width: 50%;
            margin-left: auto;
            @include min-mobile {
                width: 100%;
            }
            li{
                font-size: 1rem;
                cursor: pointer;
                text-align: center;
            }
        }
    }
}

// footer
.footer-wrap{
    border-top: 3px solid #000000;
    background-color: #fff;
    footer{
        width: 90%;
        margin: 0 auto;
        max-width: 1920px;
        @include mobile {
            @include grid ('mobile');
            flex-direction: column-reverse;
        }
        h1{
            width: 100%;
            margin-top: 7.5rem;
            font-size: 2.5rem;
            font-weight: 700;
            text-align: center;
            @include mobile {
                margin-top: 5.625rem;
                font-size: 2rem;
            }
        }
        .info{
            display: flex;
            justify-content: space-between;
            @include mobile {
                display: inline-block;
            }
            .footer-left{
                width: 33%;
                margin-top: 3.4375rem;
                @include mobile {
                    width: 100%;
                }
                h3{
                    font-size: 1.5rem;
                    font-weight: 700;
                    @include mobile {
                        font-size: 1.125rem;
                    }
                }
                h4{
                    margin-top: 1.125em;
                    font-size: 1.125rem;
                    font-weight: 700;
                    @include mobile {
                        font-size: 0.875rem;
                    }
                }
                h5{
                    margin-top: 0.5625em;
                    font-family: 'Noto Sans KR' , serif;
                    font-size: 0.875rem;
                }
            }
            .footer-right{
                width: 50%;
                margin-top: 10.0625rem;
                text-align: right;
                @include mobile {
                    margin-top: 0.9375rem;
                    width: 100%;
                    text-align: left;
                }
                h5{
                    font-family: 'Noto Sans KR' , serif;
                    font-size: 0.875rem;
                    color: #9e9e9e;
                    display: inline-block;
                    @include mobile{
                        text-align: left;
                    }
                }
                span{
                    display: inline-block;
                }
            }
        }
    }
}