@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html body {
  font-family: 'Roboto' , serif;
}

.header-wrap {
  max-width: 1920px;
  height: 7.5em;
  margin: 0 auto;
}

.header-wrap header {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  line-height: 2.5rem;
  font-family: 'Roboto' , serif;
  z-index: 97;
  font-weight: 700;
  position: relative;
}

@media (max-width: 1024px) {
  .header-wrap header {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  .header-wrap header {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
  }
}

.header-wrap header h1 {
  font-size: 2.5rem;
  cursor: pointer;
  margin-top: 2.5rem;
}

.header-wrap header .nav {
  width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
}

@media (max-width: 1024px) {
  .header-wrap header .nav {
    display: none;
  }
}

.header-wrap header .nav li {
  cursor: pointer;
  font-size: 1.125rem;
  height: 40px;
}

.header-wrap header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
  font-size: 1.125rem;
  margin-top: 2.5rem;
}

.header-wrap header .icons li {
  cursor: pointer;
}

.header-wrap header .icons .modal-bar {
  margin-top: 0.875rem;
}

.header-wrap header .icons .modal-bar .bar-before {
  background-color: #fff;
  width: 9px;
  height: 2px;
}

.header-wrap header .icons .modal-bar .bar {
  margin-top: 4px;
  background-color: #fff;
  width: 18px;
  height: 2px;
}

.header-wrap header .icons .modal-bar .bar-after {
  margin-top: 4px;
  background-color: #fff;
  width: 9px;
  height: 2px;
  margin-left: 9px;
}

.main-wrap main .slide-wrap {
  margin-top: -120px;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 750px) {
  .main-wrap main .slide-wrap {
    height: 33.125em;
  }
}

.main-wrap main .slide-wrap .slide-group {
  z-index: 10;
}

.main-wrap main .slide-wrap .slide-group article {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main-wrap main .slide-wrap .slide-group article .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.main-wrap main .slide-wrap .slide-group article .image.i1 {
  background-image: url("./images/main/main-pic1.jpg");
}

.main-wrap main .slide-wrap .slide-group article .image.i2 {
  background-image: url("./images/main/main-pic2.jpg");
}

.main-wrap main .slide-wrap .slide-group article .image.i3 {
  background-image: url("./images/main/main-pic3.jpg");
}

.main-wrap main .slide-wrap .slide-group article .image.i4 {
  background-image: url("./images/main/main-pic4.jpg");
}

.main-wrap main .slide-wrap .slide-group article .image.i5 {
  background-image: url("./images/main/main-pic5.jpg");
}

.main-wrap main .slide-wrap .slide-group article .image.i6 {
  background-image: url("./images/main/main-pic6.jpg");
}

.main-wrap main .slide-wrap .slide-group article .image.i7 {
  background-image: url("./images/main/main-pic7.jpg");
}

@media (max-width: 750px) {
  .main-wrap main .slide-wrap .slide-group article .image {
    height: 33.125em;
  }
}

.main-wrap main .slide-wrap .slide-group article .image .texts {
  position: absolute;
  top: 60%;
  left: 16.6666%;
  -webkit-transform: translate(0, -60%);
          transform: translate(0, -60%);
  color: #fff;
  font-family: 'Noto Sans KR' , serif;
  font-weight: 700;
}

@media (max-width: 750px) {
  .main-wrap main .slide-wrap .slide-group article .image .texts {
    left: 10%;
  }
}

.main-wrap main .slide-wrap .slide-group article .image .texts h3 {
  font-size: 2.5rem;
}

@media (max-width: 750px) {
  .main-wrap main .slide-wrap .slide-group article .image .texts h3 {
    font-size: 1.75rem;
  }
}

.main-wrap main .slide-wrap .slide-group article .image .texts h5 {
  font-size: 1.125rem;
  line-height: 2.5rem;
  font-weight: 500;
}

@media (max-width: 750px) {
  .main-wrap main .slide-wrap .slide-group article .image .texts h5 {
    font-size: 0.875rem;
    line-height: 1.25em;
  }
}

@media (max-width: 750px) {
  .main-wrap main .slide-wrap .slide-group article .image .texts h5:nth-child(2) {
    margin-top: 1.5em;
  }
}

.main-wrap main .slide-wrap .slide-group :nth-child(1) {
  z-index: 96;
}

.main-wrap main .slide-wrap .slide-group :nth-child(1) ~ article {
  z-index: 90;
  opacity: 0;
}

.main-wrap main .slide-wrap .index-number {
  position: absolute;
  top: 80%;
  -webkit-transform: translate(0, -80%);
          transform: translate(0, -80%);
  right: 16.6666%;
  color: #fff;
  font-weight: 700;
  color: #c6c6c6;
  z-index: 97;
}

@media (max-width: 750px) {
  .main-wrap main .slide-wrap .index-number {
    right: 10%;
  }
}

.main-wrap main .slide-wrap .index-number .now {
  font-size: 2.5rem;
  color: #fff;
}

@media (max-width: 750px) {
  .main-wrap main .slide-wrap .index-number .now {
    font-size: 1.75rem;
  }
}

.main-wrap main .slide-wrap .index-number .total-amount {
  font-size: 1.25rem;
  margin-left: 5px;
}

@media (max-width: 750px) {
  .main-wrap main .slide-wrap .index-number .total-amount {
    font-size: 0.875rem;
  }
}

.main-wrap main .slide-wrap .slide-info-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 35%;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 0.8rem;
  font-weight: 700;
  font-family: 'Noto Sans KR' , serif;
  z-index: 97;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.main-wrap main .slide-wrap .slide-info-bar h3 {
  font-size: 0.875rem;
  text-align: right;
  padding: 10px 10% 0 0;
}

.main-wrap main .slide-wrap .slide-info-bar h3 span {
  color: #fff;
}

.main-wrap main .slide-wrap .slide-info-bar .slide-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  padding: 10px 10% 30px 0;
}

.main-wrap main .slide-wrap .slide-info-bar .slide-button i {
  font-size: 1.3125rem;
  color: #2b2b2b;
  cursor: pointer;
}

.main-wrap main .slide-wrap .slide-info-bar .slide-button i:nth-child(1) {
  margin-right: 2.8125em;
}

.banner-wrap {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
}

@media (max-width: 750px) {
  .banner-wrap {
    max-width: 750px;
  }
}

.banner-wrap .banner-1 {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 750px) {
  .banner-wrap .banner-1 {
    display: block;
    padding-top: 0;
  }
}

.banner-wrap .banner-1 article {
  width: calc(100% / 3 - 10px);
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

@media (max-width: 750px) {
  .banner-wrap .banner-1 article {
    width: 100%;
    margin-top: 0.9375rem;
    height: 25rem;
  }
}

.banner-wrap .banner-1 article .image {
  width: 100%;
  height: 30rem;
  z-index: 15;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.banner-wrap .banner-1 article .image.i1 {
  background-image: url("./images/banner-1/pic-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-wrap .banner-1 article .image.i2 {
  background-image: url("./images/banner-1/pic-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-wrap .banner-1 article .image.i3 {
  background-image: url("./images/banner-1/pic-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 750px) {
  .banner-wrap .banner-1 article .image {
    height: 25rem;
  }
}

.banner-wrap .banner-1 article video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 800px;
  width: auto;
  overflow: hidden;
  z-index: 14;
  opacity: 0;
  display: none;
  -webkit-transition: z-index 1.5s;
  transition: z-index 1.5s;
}

@media (max-width: 750px) {
  .banner-wrap .banner-1 article video {
    height: 600px;
  }
}

.banner-wrap .banner-1 article .texts {
  position: absolute;
  left: 1em;
  bottom: 3.125em;
  z-index: 20;
  font-family: 'Noto Sans KR' , serif;
  font-weight: 700;
  color: #fff;
}

.banner-wrap .banner-1 article .texts h3 {
  font-size: 1.25rem;
}

.banner-wrap .banner-1 article .texts h5 {
  font-size: 0.875rem;
  margin-top: 0.4375rem;
}

.content-wrap .content-1 {
  margin-top: 10rem;
}

@media (max-width: 750px) {
  .content-wrap .content-1 {
    margin-top: 7.5rem;
  }
}

.content-wrap .content-1 header {
  width: 100%;
  text-align: right;
}

.content-wrap .content-1 header h2 {
  font-size: 4.375rem;
  font-weight: 700;
  margin-right: 1.1428em;
}

@media (max-width: 750px) {
  .content-wrap .content-1 header h2 {
    font-size: 3.125rem;
    margin-right: 0;
  }
}

.content-wrap .content-1 section {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 750px) {
  .content-wrap .content-1 section {
    margin-top: 4.0625rem;
  }
}

@media (max-width: 440px) {
  .content-wrap .content-1 section {
    display: block;
  }
}

.content-wrap .content-1 section .article-left {
  width: 51.5625%;
  margin-left: 8.2031%;
}

@media (max-width: 750px) {
  .content-wrap .content-1 section .article-left {
    width: 58.4615%;
    margin-left: 0;
  }
}

@media (max-width: 440px) {
  .content-wrap .content-1 section .article-left {
    width: 100%;
  }
}

.content-wrap .content-1 section .article-left .image {
  width: 100%;
  height: 51.25rem;
  background-image: url("./images/content-1/pic-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 750px) {
  .content-wrap .content-1 section .article-left .image {
    height: 29.375rem;
  }
}

.content-wrap .content-1 section .article-right {
  width: 32.8125%;
}

@media (max-width: 750px) {
  .content-wrap .content-1 section .article-right {
    width: 38.4615%;
  }
}

@media (max-width: 440px) {
  .content-wrap .content-1 section .article-right {
    width: 100%;
    margin-top: 0.875rem;
  }
}

.content-wrap .content-1 section .article-right .image {
  width: 100%;
  height: 32.5rem;
  background-image: url("./images/content-1/pic-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 750px) {
  .content-wrap .content-1 section .article-right .image {
    height: 20rem;
  }
}

.content-wrap .content-1 section .article-right .texts {
  margin-top: 1.25em;
  font-family: 'Noto Sans KR' , serif;
}

.content-wrap .content-1 section .article-right .texts h3 {
  font-size: 1.125rem;
  font-weight: 700;
  color: #1a1a1a;
}

.content-wrap .content-1 section .article-right .texts p {
  font-size: 0.9375rem;
  color: #777777;
  font-weight: 500;
}

.content-wrap .content-1 section .article-right .btn {
  width: 100%;
  font-family: 'Roboto' , serif;
  font-size: 0.875rem;
  text-align: right;
  cursor: pointer;
}

.content-wrap .content-1 section .article-right .btn i {
  font-size: 1.25em;
}

.content-wrap .content-2 {
  margin-top: 18.125rem;
}

@media (max-width: 750px) {
  .content-wrap .content-2 {
    margin-top: 5rem;
  }
}

.content-wrap .content-2 header {
  position: relative;
  left: -3.75em;
  top: 23em;
  height: 0;
}

@media (max-width: 750px) {
  .content-wrap .content-2 header {
    left: -2.125em;
  }
}

@media (max-width: 440px) {
  .content-wrap .content-2 header {
    position: unset;
    top: 0;
    left: 0;
    height: auto;
  }
}

.content-wrap .content-2 header h2 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  font-weight: 700;
  font-size: 2.5rem;
}

@media (max-width: 750px) {
  .content-wrap .content-2 header h2 {
    font-size: 2rem;
  }
}

@media (max-width: 440px) {
  .content-wrap .content-2 header h2 {
    -webkit-transform: none;
            transform: none;
  }
}

.content-wrap .content-2 section h5 {
  font-family: 'Noto Sans KR' , serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #333333;
}

@media (max-width: 440px) {
  .content-wrap .content-2 section h5 {
    font-size: 1rem;
  }
}

.content-wrap .content-2 section .slide-wrap {
  margin-top: 2.5rem;
  overflow: hidden;
}

@media (max-width: 750px) {
  .content-wrap .content-2 section .slide-wrap {
    margin-top: 1.375rem;
  }
}

.content-wrap .content-2 section .slide-wrap .slide-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 750px) {
  .content-wrap .content-2 section .slide-wrap .slide-group {
    width: 600%;
  }
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page {
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article {
  width: calc(100% / 4 - 5px);
  cursor: pointer;
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap {
  height: 17.5rem;
  overflow: hidden;
  position: relative;
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image {
  height: 17.5rem;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image.i1 {
  background-image: url("./images/content-2/pic-1.jpg");
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image.i2 {
  background-image: url("./images/content-2/pic-2.jpg");
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image.i3 {
  background-image: url("./images/content-2/pic-3.jpg");
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image.i4 {
  background-image: url("./images/content-2/pic-4.jpg");
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image.i5 {
  background-image: url("./images/content-2/pic-5.jpg");
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image.i6 {
  background-image: url("./images/content-2/pic-6.jpg");
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image.i7 {
  background-image: url("./images/content-2/pic-7.jpg");
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image.i8 {
  background-image: url("./images/content-2/pic-8.jpg");
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image.i9 {
  background-image: url("./images/content-2/pic-9.jpg");
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image.i10 {
  background-image: url("./images/content-2/pic-10.jpg");
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image.i11 {
  background-image: url("./images/content-2/pic-11.jpg");
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image.i12 {
  background-image: url("./images/content-2/pic-12.jpg");
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .discount-rate {
  position: absolute;
  bottom: 0.3125em;
  left: 0.3125em;
  font-size: 0.9375rem;
  padding: 0.3125em;
  background-color: #fff;
  color: #333;
  font-weight: 400;
  font-family: 'Noto Sans KR' , serif;
  -webkit-box-shadow: 1px 1px 3px #ccc;
          box-shadow: 1px 1px 3px #ccc;
  border-radius: 3px;
  font-weight: 500;
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap:hover .icons {
  bottom: 0.3125em;
  opacity: 1;
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .icons {
  position: absolute;
  right: 0.3125em;
  bottom: -1.875em;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .icons i {
  font-size: 0.9375rem;
  padding: 0.3125em;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #333;
  opacity: 0.6;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .icons .like {
  opacity: 0.8;
  color: red;
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .image-wrap .icons .wish {
  opacity: 0.8;
  color: #000;
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .texts {
  margin-top: 1.75rem;
  font-family: 'Noto Sans KR' , serif;
  color: #333;
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .texts h3 {
  font-size: 0.875rem;
  font-weight: 700;
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .texts h5 {
  color: #cccccc;
  font-size: 0.75rem;
  padding-top: 0.375em;
  text-decoration: line-through;
}

.content-wrap .content-2 section .slide-wrap .slide-group .item-page article .texts h4 {
  font-weight: 700;
  padding-top: 0.375em;
}

.content-wrap .content-2 section .paging {
  width: 3.75em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5em;
}

@media (max-width: 750px) {
  .content-wrap .content-2 section .paging {
    width: 8.125em;
  }
}

.content-wrap .content-2 section .paging li {
  width: 0.5625em;
  height: 0.5625em;
  background-color: #999999;
  border-radius: 0.1875em;
  cursor: pointer;
}

@media (max-width: 750px) {
  .content-wrap .content-2 section .paging li {
    display: block;
  }
}

.content-wrap .content-2 section .paging li:nth-child(3) ~ li {
  display: none;
}

@media (max-width: 750px) {
  .content-wrap .content-2 section .paging li:nth-child(3) ~ li {
    display: block;
  }
}

.content-wrap .content-2 section .paging .now {
  width: 1.125em;
  background-color: #333;
}

.content-wrap .content-2 section .more-btn {
  width: 10em;
  font-size: 0.875rem;
  padding: 1em;
  border-radius: 1.375em;
  color: #333;
  border: 1px solid #333;
  background-color: #fff;
  font-family: 'Noto Sans KR' , serif;
  margin: 0 auto;
  margin-top: 3.125rem;
  text-align: center;
  cursor: pointer;
}

.content-wrap .content-3 {
  margin-top: 11.125rem;
}

@media (max-width: 750px) {
  .content-wrap .content-3 {
    margin-top: 4.125rem;
  }
}

.content-wrap .content-3 header {
  position: relative;
  left: -3.75em;
  top: 23em;
  height: 0;
}

@media (max-width: 750px) {
  .content-wrap .content-3 header {
    left: -2.125em;
  }
}

@media (max-width: 440px) {
  .content-wrap .content-3 header {
    position: unset;
    left: 0;
    top: 0;
    height: auto;
  }
}

.content-wrap .content-3 header h2 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  font-weight: 700;
  font-size: 2.5rem;
}

@media (max-width: 750px) {
  .content-wrap .content-3 header h2 {
    font-size: 2rem;
  }
}

@media (max-width: 440px) {
  .content-wrap .content-3 header h2 {
    -webkit-transform: none;
            transform: none;
  }
}

.content-wrap .content-3 section h5 {
  font-family: 'Noto Sans KR' , serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #333333;
}

@media (max-width: 440px) {
  .content-wrap .content-3 section h5 {
    font-size: 1rem;
  }
}

.content-wrap .content-3 section .slide-wrap {
  margin-top: 2.5em;
  overflow: hidden;
}

.content-wrap .content-3 section .slide-wrap .slide-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 750px) {
  .content-wrap .content-3 section .slide-wrap .slide-group {
    width: 600%;
  }
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page {
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article {
  width: calc(100% / 4 - 5px);
  cursor: pointer;
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap {
  height: 17.5rem;
  overflow: hidden;
  position: relative;
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image {
  height: 17.5rem;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image.i1 {
  background-image: url("./images/content-3/pic-1.jpg");
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image.i2 {
  background-image: url("./images/content-3/pic-2.jpg");
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image.i3 {
  background-image: url("./images/content-3/pic-3.jpg");
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image.i4 {
  background-image: url("./images/content-3/pic-4.jpg");
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image.i5 {
  background-image: url("./images/content-3/pic-5.jpg");
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image.i6 {
  background-image: url("./images/content-3/pic-6.jpg");
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image.i7 {
  background-image: url("./images/content-3/pic-7.jpg");
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image.i8 {
  background-image: url("./images/content-3/pic-8.jpg");
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image.i9 {
  background-image: url("./images/content-3/pic-9.jpg");
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image.i10 {
  background-image: url("./images/content-3/pic-10.jpg");
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image.i11 {
  background-image: url("./images/content-3/pic-11.jpg");
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image.i12 {
  background-image: url("./images/content-3/pic-12.jpg");
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .discount-rate {
  position: absolute;
  bottom: 0.3125em;
  left: 0.3125em;
  font-size: 0.9375rem;
  padding: 0.3125em;
  background-color: #fff;
  color: #333;
  font-weight: 400;
  font-family: 'Noto Sans KR' , serif;
  -webkit-box-shadow: 1px 1px 3px #ccc;
          box-shadow: 1px 1px 3px #ccc;
  border-radius: 3px;
  font-weight: 500;
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap:hover .icons {
  bottom: 0.3125em;
  opacity: 1;
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .icons {
  position: absolute;
  right: 0.3125em;
  bottom: -1.875em;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .icons i {
  font-size: 0.9375rem;
  padding: 0.3125em;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #333;
  opacity: 0.6;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .icons .like {
  opacity: 0.8;
  color: red;
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .image-wrap .icons .wish {
  opacity: 0.8;
  color: #000;
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .texts {
  margin-top: 1.75rem;
  font-family: 'Noto Sans KR' , serif;
  color: #333;
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .texts h3 {
  font-size: 0.875rem;
  font-weight: 700;
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .texts h5 {
  color: #cccccc;
  font-size: 0.75rem;
  padding-top: 0.375em;
  text-decoration: line-through;
}

.content-wrap .content-3 section .slide-wrap .slide-group .item-page article .texts h4 {
  font-weight: 700;
  padding-top: 0.375em;
}

.content-wrap .content-3 section .paging {
  width: 3.75em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5em;
}

@media (max-width: 750px) {
  .content-wrap .content-3 section .paging {
    width: 8.125em;
  }
}

.content-wrap .content-3 section .paging li {
  width: 0.5625em;
  height: 0.5625em;
  background-color: #999999;
  border-radius: 0.1875em;
  cursor: pointer;
}

.content-wrap .content-3 section .paging li:nth-child(3) ~ li {
  display: none;
}

@media (max-width: 750px) {
  .content-wrap .content-3 section .paging li:nth-child(3) ~ li {
    display: block;
  }
}

.content-wrap .content-3 section .paging .now {
  width: 1.125em;
  background-color: #333;
}

.content-wrap .content-3 section .more-btn {
  width: 10em;
  font-size: 0.875rem;
  padding: 1em;
  border-radius: 1.375em;
  color: #333;
  border: 1px solid #333;
  background-color: #fff;
  font-family: 'Noto Sans KR' , serif;
  margin: 0 auto;
  margin-top: 3.125rem;
  text-align: center;
  cursor: pointer;
}

.content-wrap .content-4 {
  margin-top: 16.75rem;
  padding-bottom: 7.5rem;
}

@media (max-width: 750px) {
  .content-wrap .content-4 {
    margin-top: 9.4375rem;
  }
}

.content-wrap .content-4 header {
  position: relative;
  left: -3.75em;
  top: 8em;
  height: 0;
}

@media (max-width: 750px) {
  .content-wrap .content-4 header {
    left: -2.125em;
  }
}

@media (max-width: 440px) {
  .content-wrap .content-4 header {
    position: unset;
    height: auto;
  }
}

.content-wrap .content-4 header h2 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  font-weight: 700;
  font-size: 2.5rem;
}

@media (max-width: 750px) {
  .content-wrap .content-4 header h2 {
    font-size: 2rem;
  }
}

@media (max-width: 440px) {
  .content-wrap .content-4 header h2 {
    -webkit-transform: none;
            transform: none;
  }
}

.content-wrap .content-4 section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Noto Sans KR' , serif;
}

@media (max-width: 750px) {
  .content-wrap .content-4 section {
    display: block;
  }
}

.content-wrap .content-4 section h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-left: 5.4687%;
}

@media (max-width: 440px) {
  .content-wrap .content-4 section h3 {
    margin-left: 0;
    font-size: 1rem;
  }
}

.content-wrap .content-4 section .article-wrap {
  display: block;
  width: 53.25%;
}

@media (max-width: 750px) {
  .content-wrap .content-4 section .article-wrap {
    width: 100%;
    margin-top: 5rem;
  }
}

.content-wrap .content-4 section .article-wrap article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 12.5em;
}

.content-wrap .content-4 section .article-wrap article .image {
  width: 200px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-wrap .content-4 section .article-wrap article .image.i1 {
  background-image: url("./images/content-4/pic-1.jpg");
}

.content-wrap .content-4 section .article-wrap article .image.i2 {
  background-image: url("./images/content-4/pic-2.jpg");
}

.content-wrap .content-4 section .article-wrap article .image.i3 {
  background-image: url("./images/content-4/pic-3.jpg");
}

.content-wrap .content-4 section .article-wrap article .texts {
  width: 52.7777%;
  margin-left: 9.7222%;
  font-family: 'Noto Sans KR' , serif;
  color: #333;
}

.content-wrap .content-4 section .article-wrap article .texts h5 {
  font-size: 0.875rem;
}

.content-wrap .content-4 section .article-wrap article .texts h4 {
  font-size: 1.125rem;
  margin-top: 1.8125rem;
  font-weight: 500;
}

.content-wrap .content-4 section .article-wrap article:nth-child(1) ~ article {
  margin-top: 1.875em;
}

.content-wrap .content-4 section .article-wrap .more-btn {
  text-align: center;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.875em;
  border: 1px solid #333;
  margin-top: 3.75rem;
  background-color: #fff;
}

.item-wrap {
  height: auto;
  position: relative;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.item-wrap::before {
  content: '';
  display: block;
  width: 33%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  height: 100%;
  outline: 1px solid #e0e0e0;
}

.item-wrap::after {
  content: '';
  display: block;
  width: 33%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -999;
  height: 100%;
  outline: 1px solid #e0e0e0;
}

.modal-box-wrap {
  width: 800px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -800px;
  overflow-y: scroll;
  z-index: 99;
  -webkit-transition: all .5s;
  transition: all .5s;
  outline: 1px solid #ccc;
}

@media (max-width: 850px) {
  .modal-box-wrap {
    width: 100%;
  }
}

.modal-box-wrap .modal-box {
  position: relative;
  padding: 2.5em 3.75em;
  font-family: 'Noto Sans KR';
}

.modal-box-wrap .modal-box .title {
  font-size: 3.125rem;
  font-weight: 700;
  color: #333;
}

.modal-box-wrap .modal-box a {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 700;
  padding-right: 2.5rem;
  color: #333;
  background: url("./images/closeBtn.png") right 0 center no-repeat;
  background-size: 30px;
  display: block;
  position: absolute;
  right: 60px;
  top: 50px;
}

.modal-box-wrap .modal-box .subtitle {
  font-size: 2.25rem;
  color: #333;
  font-weight: 700;
  margin-top: 50px;
  position: relative;
  font-family: 'Roboto' , serif;
  line-height: 40px;
  cursor: pointer;
}

.modal-box-wrap .modal-box .subtitle::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #333;
  width: 350px;
  height: 5px;
}

@media (max-width: 1024px) {
  .modal-box-wrap .modal-box .subtitle::after {
    width: 30%;
  }
}

.modal-box-wrap .modal-box .con-box {
  margin-top: 20px;
  cursor: pointer;
}

.modal-box-wrap .modal-box .con-box .list-title {
  font-size: 1.375rem;
  color: #333;
  font-family: 'Roboto' , serif;
}

.modal-box-wrap .modal-box .con-box .list-title span {
  font-size: 1.75rem;
  font-weight: 900;
  margin-right: 8px;
}

.modal-box-wrap .modal-box .con-box .img-box {
  margin-top: 20px;
}

.modal-box-wrap .modal-box .con-box .img-box img {
  vertical-align: middle;
  width: 100%;
  height: 300px;
}

.modal-box-wrap .modal-box .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  width: 50%;
  margin-left: auto;
}

@media (max-width: 440px) {
  .modal-box-wrap .modal-box .user-info {
    width: 100%;
  }
}

.modal-box-wrap .modal-box .user-info li {
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.footer-wrap {
  border-top: 3px solid #000000;
  background-color: #fff;
}

.footer-wrap footer {
  width: 90%;
  margin: 0 auto;
  max-width: 1920px;
}

@media (max-width: 750px) {
  .footer-wrap footer {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer-wrap footer h1 {
  width: 100%;
  margin-top: 7.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 750px) {
  .footer-wrap footer h1 {
    margin-top: 5.625rem;
    font-size: 2rem;
  }
}

.footer-wrap footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 750px) {
  .footer-wrap footer .info {
    display: inline-block;
  }
}

.footer-wrap footer .info .footer-left {
  width: 33%;
  margin-top: 3.4375rem;
}

@media (max-width: 750px) {
  .footer-wrap footer .info .footer-left {
    width: 100%;
  }
}

.footer-wrap footer .info .footer-left h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 750px) {
  .footer-wrap footer .info .footer-left h3 {
    font-size: 1.125rem;
  }
}

.footer-wrap footer .info .footer-left h4 {
  margin-top: 1.125em;
  font-size: 1.125rem;
  font-weight: 700;
}

@media (max-width: 750px) {
  .footer-wrap footer .info .footer-left h4 {
    font-size: 0.875rem;
  }
}

.footer-wrap footer .info .footer-left h5 {
  margin-top: 0.5625em;
  font-family: 'Noto Sans KR' , serif;
  font-size: 0.875rem;
}

.footer-wrap footer .info .footer-right {
  width: 50%;
  margin-top: 10.0625rem;
  text-align: right;
}

@media (max-width: 750px) {
  .footer-wrap footer .info .footer-right {
    margin-top: 0.9375rem;
    width: 100%;
    text-align: left;
  }
}

.footer-wrap footer .info .footer-right h5 {
  font-family: 'Noto Sans KR' , serif;
  font-size: 0.875rem;
  color: #9e9e9e;
  display: inline-block;
}

@media (max-width: 750px) {
  .footer-wrap footer .info .footer-right h5 {
    text-align: left;
  }
}

.footer-wrap footer .info .footer-right span {
  display: inline-block;
}
/*# sourceMappingURL=index.css.map */